<!-- <div class="heading">
  <h1>TATA AIA</h1>
  <p>LIFE INSURANCE</p>
</div> -->
<app-header></app-header>
<div class="container">
  <div class="main_section">
    <div class="product_heading">
      <div class="product_name">
        <h3>{{leadwithProduct.productName}}</h3>
        </div>
        <div class="uin">
          <p>{{leadwithProduct.UIN}}</p>
          </div>
          <div class="line_symbol">
            |
          </div>
          <div class="lead_id">
          <p>LEAD ID: {{leadwithProduct.leadId}}</p>
        </div>
        </div>
        <div>
          <form [formGroup]="sisPersonalForm" (ngSubmit)="onSubmit()">
            <div class="lead_name_heading">
              <h3>Hello <b>Mr. {{leadwithProduct.first_name}} {{leadwithProduct.middle_name}}  {{leadwithProduct.lasst_name}}</b>, Welcome to Tata AIA!</h3>
            </div>
            <div class="lead_dynamic">
              <p>Based on the information shared by your Financial Advisor, We understand that you were born on <span> {{leadwithProduct.dob | date: 'dd/MM/yyyy' }}</span>  and currently reside in 
                <span>{{leadwithProduct.address}}, {{leadwithProduct.state}}, {{leadwithProduct.city}}.</span> You can be reached at <span>+91 {{leadwithProduct.mobile}} </span> and <span>{{leadwithProduct.email}}.</span> 
              </p>
            </div>
            <div class="process_simpler">
              Now, to make the process simpler, we have assumed that you are <span>{{occupChangeValue}}</span> and you are <span>buying policy for {{selfChangeValue}}</span>. Feel free to edit it if you like<sup>
                <fa-icon [icon]="faPencil"></fa-icon></sup><span class="editIcon" (click)="editIconClick()">Edit</span>

            </div>
            <div *ngIf="editFlagActive">
              <div class="self_drop_down">
                <span>You are purchasing the policy for</span>
                <select class="self_child" formControlName="purchasing_for" (change)="onPurchaseChange($event)">
                  <option value="single_life" selected>Single Life</option>
                 <option value="joint_life">Joint Life</option>
                </select>
              </div>

            <div class="self_drop_down">
              <span>You are buying the policy for</span>
              <select class="self_child" formControlName="buying_for" (change)="onSelfChange($event)">
                <option value="self" selected>Self</option>
                <option value="spouse">Spouse</option>
                <option value="major">Child(major)</option>
                <option value="minor">Child(minor)</option>
              </select>
            </div>

            <div class="occupation_dropdown">
              <span>Your occupation is</span>
              <select formControlName="occupation" (change)="onOccupChange($event)">
                <option value="" disabled></option>
                <option value="agriculture">Agriculturist/Farmer</option>
                <option value="business_owner">Business Owner</option>
                <option value="housewife">Housewife</option>
                <option value="nps_retiree">NPS Retiree</option>
                <option value="retired">Retired</option>
                <option value="salaried">Salaried</option>
                <option value="self">Self Employed</option>
              </select>
            </div>
          </div>

            <div class="best_quote">
              <h4>You’re just a few more details away from getting the best quote.</h4>
            </div>

            <div class="proof_select">
              <label for="">Age Proof for {{leadwithProduct.first_name}} {{leadwithProduct.middle_name}}  {{leadwithProduct.lasst_name}}</label><br>
              <select formControlName="age_proof">
                <option value="" selected></option>
                <option value="aadhar_non">Aadhar ID Card - Non Standard</option>
                <option value="aadhar_stand">Aadhar ID Card - Standard</option>
                <option value="others">Others</option>
                <option value="pan_card">PAN Card</option>
                <option value="hosiptal">Hosiptal Discharge Card less than age 5 years</option>
              </select>
              <div *ngIf="sisPersonalForm.controls['age_proof'].dirty  && sisPersonalForm.hasError('required','age_proof')" class="validationError">
                Please select an option.
              </div>
            </div>
            <div class="education_personal_proof">
              <div class="user_inputs">
                <label>Highest Education Qualification</label><br>
                <select formControlName="education_qualification">
                  <option value="SSC">Below SSC</option>
                  <option value="10th">10th</option>
                  <option value="12th">12th</option>
                  <option value="graduate" selected>Graduate</option>
                </select>
                <div *ngIf="sisPersonalForm.controls['education_qualification'].dirty  && sisPersonalForm.hasError('required','education_qualification')" class="validationError">
                  Please select an option.
                </div>
              </div>
              <div class="user_inputs">
                <label for="annual">Annual Income of {{leadwithProduct.first_name}} {{leadwithProduct.middle_name}}  {{leadwithProduct.lasst_name}}</label><br>
                <input type="text"  id="annual" formControlName="annual_income" /><br>
                <p *ngIf="numberInWords"><fa-icon class="rupeeIcon" [icon]="faIndianRupee"></fa-icon>&nbsp;{{ numberInWords }}</p>
                <div *ngIf="sisPersonalForm.controls['annual_income'].dirty  && sisPersonalForm.hasError('required','annual_income')" class="validationError">
                  Please enter annual income.
                </div>
                <div *ngIf="sisPersonalForm.get('annual_income').errors?.maxlength" class="validationError">
                  Annual Income cannot exceed 9 digits.
                </div>
              </div>
              <div class="user_inputs">
                <label for="pan_number">Pan Number of {{leadwithProduct.first_name}} {{leadwithProduct.middle_name}}  {{leadwithProduct.lasst_name}}</label><br>
                <input type="text"  id="pan_number" formControlName="pan_number"/>
                <div *ngIf="sisPersonalForm.controls['pan_number'].dirty  && sisPersonalForm.hasError('pattern','pan_number')" class="validationError">
                  Please enter valid PAN Card No.
                </div>
              </div>
            </div>
  
            <div class="nominee_name_real">
              <div class="user_inputs">
                <label for="nominee">Nominee Name</label><br>
                <input type="text"  id="nominee" formControlName="nominee_name"/><br>
                <div *ngIf="sisPersonalForm.controls['nominee_name'].dirty  && sisPersonalForm.hasError('required','nominee_name')" class="validationError">
                  Please enter annual income.
                </div>
              </div>
              <div class="user_inputs">
                <label>Nominee relationship with Life Assured</label><br>
                <select formControlName="nominee_relationship">
                  <option value="" selected></option>
                  <option value="brother">Brother</option>
                  <option value="cousin">Cousin</option>
                  <option value="nephew">Nephew</option>
                  <option value="nice">Nice</option>
                </select>
                <div *ngIf="sisPersonalForm.controls['nominee_relationship'].dirty  && sisPersonalForm.hasError('required','nominee_relationship')" class="validationError">
                  Please select an option.
                </div>
              </div>
            </div>

            <div class="gst_number">
              <div class="gst_check">
                <input type="checkbox" formControlName="gst_check"/>
              </div>
              <div class="gst_text">
              <h4>I have a GST number</h4>
            </div>
            </div>

            <div class="tabacco_radio">
              <label>Would you like to opt for Auto Debit Facility ?</label><br><br>
              <label class="switch">
                <input type="checkbox" formControlName="autopay">
                <span class="slider round"></span>
              </label>
            </div>

            <div class="other_life_insur">
              <div class="existing_check">
                <input type="checkbox" formControlName="existing_check"/>
              </div>
              <div class="existing_text">
              <h4> I have an existing life insurance policy/or have applied any simultaneous applications with Other Life Insurance Company</h4>
            </div>
            </div>

            <div class="add_provide">
              <h4>Don't add/provide Tata AIA Life Insurance Policies</h4>
            </div>

            <div class="note_policy">
              <h4>Please note that, by providing your details, you agree to receive a SMS/Call by a Tata AIA life insurance Co. Ltd or its representative with reference to this solicited inquiry even though 
                you may be registered on the DND list.</h4>
            </div>

            <div class="let_do_this">
              <button class="btn btn-primary">LET'S DO THIS</button>
            </div>
          </form>

          <div class="disclaimer">
            <p>Disclaimer: For complete disclaimers please click here, before concluding the sale.</p>
            <ul class="disclaimer_list">
              <li>Registered with Insurance Regulatory & Development Authority of India (IRDAI) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDAI Regn. No. 110) Issued On: 12th February 2001 Category: Life Insurance</li>
              <li>Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.</li>
              <li>Tata AIA Life Insurance Company Limited (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Limited (AIA). CIN: U66010MH2000PLC128403</li>
              <li>Trade logo displayed above belongs to Tata Sons Ltd and AIA Group Ltd. and is used by Tata AIA Life Insurance Company Ltd under a license.</li>
              <li>For any information including cancellation, claims and complaints, please contact our Insurance Advisor / Intermediary or visit Tata AIA Life’s nearest branch office or call 1-860-266-9966 (local charges apply) or write to us at customercare@tataaia.com. Visit us at: www.tataaia.com or SMS 'Life’ to 58888.</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  