<!-- <div class="heading">
  <h1>TATA AIA </h1>
  <p>LIFE INSURANCE</p>
</div> -->

<app-header></app-header>

<div class="container">
  <div class="main_section">
    <div class="product_lead_sis">
      <div class="product_name">
        <h3>Tata AIA Life Insurance Fortune Guarantee Plus</h3>
      </div>
      <div class="product_uin">
       <p>UIN: {{uinNumberFromLocal}}</p>
      </div>
      <div class="line_symbol">
        |
      </div>
      <div class="product_lead_id">
        <p>LEAD ID: {{leadIdFromLocal}}</p>
       </div>
       <div class="line_symbol">
        |
      </div>
      <div class="product_sis_id">
        <p>SIS ID: {{sisIdFromLocal}}</p>
       </div>
    </div>
  <form [formGroup]="sisCalculationInvestForm" (ngSubmit)="onSubmit()">
   <div class="invest_receive_mainsection">
      <div class="invest_section">
       <div class="invest_heading">
        <h3>INVEST</h3>
       </div>
       <div class="amount_heading">
        <h4>Select Annual Investment Amount</h4>
       </div>
       <div class="amount_radio">
          <label class="radio_container">
            <input type="radio"  value="24000" formControlName="annual_invest_amount" (click)="radioDataChange($event);onLoadSisCalculation()">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                24000
              </div>
          </label>
          <label class="radio_container">
            <input type="radio"  value="48000" formControlName="annual_invest_amount" (click)="radioDataChange($event);onLoadSisCalculation()">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                48000
              </div>
          </label>
          <label class="radio_container">
            <input type="radio"  value="72000" formControlName="annual_invest_amount" (click)="radioDataChange($event);onLoadSisCalculation()">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                72000
              </div>
          </label>
      </div>
      <div class="or_set">
       <h3>OR</h3>
      </div>
      <div class="invest_word_text" >
        <input  type="text"  value="{{radioInvestAmount}}" (input)="sisCalculationInvestTextAmount($event)" formControlName="annual_invest_text"/>
        <div *ngIf="sisCalculationInvestForm.get('annual_invest_text').errors?.maxlength && numberInWords" class="validationError">
          Annual Income cannot exceed 9 digits.
        </div>
      </div>
      <!-- <p class="amount_in_number">{{investAmountIntoWords}}</p>
      <p class="amount_in_number">{{investTextIntoWords}}</p>
      <p class="amount_in_number">{{numberInWordsForInvestText}}</p> -->



      <div class="option_radio">
        <div class="regular_income">
          <input type="radio" value="regular_option1" formControlName="regular" (click)="onLoadSisCalculation()"/>
        </div>
        <div class="option_1" >
          Option 1: Regular 
        </div> 
      </div>

      <div class="option_radio">
        <div class="regular_income">
          <input type="radio" value="regular_option2" formControlName="regular" (click)="onLoadSisCalculation()"/>
        </div>
        <div class="option_1" >
          Option 2: Regular Income with an inbuilt Critical Illness benefit 
        </div> 
      </div>
     


      <div class="pay_every_annual">
        <div class="pay_text">
        <h2>Pay Every</h2>
        </div>
        <div class="pay_mode">
        <select formControlName="pay_mode" (change)="onLoadSisCalculation()">
          <option value="annual">Annual</option>
          <option value="semi_annual">Semi-Annual</option>
          <option value="quaterly">Quaterly</option>
          <option value="monthly">Monthly</option>
          <option value="single_pay">Single-Pay</option>       
        </select>
        </div>
      </div>


      <div class="period_ppt">
        <div class="period_select">
          <label>For a period of</label><br>
          <select formControlName="period_of" (change)="onLoadSisCalculation()">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>       
          </select>
        </div>
        <div class="ppt_select">
          <label>For (PPT)</label><br>
        <select formControlName="ppt_select" (change)="onLoadSisCalculation()">
          <option value="regular">Regular</option>
          <option value="limited_5_years">Limited-5 years</option>
          <option value="limited_6_years">Limited-6 years</option>      
          <option value="limited_7_years">Limited-7 years</option>      
          <option value="limited_8_years">Limited-8 years</option>      
        </select>
        </div>
      </div>

      <div class="period_ppt">
        <div class="period_select">
          <label>For a income period of</label><br>
          <select formControlName="income_period" (change)="onLoadSisCalculation()">
            <option value="20">20 Years</option>
            <option value="25">25 Years</option>
            <option value="30">30 Years</option>
            <option value="35">35 Years</option>      
          </select>
        </div>
        <div class="ppt_select">
          <label>Income mode</label><br>
        <select formControlName="income_mode" (change)="onLoadSisCalculation()">
          <option value="annual">Annual</option>
          <option value="monthly">Monthly</option>  
        </select>
        </div>
      </div>
 
      <div class="rider_package">
        <div class="select_rider_text">
          <h3>Select Rider Package</h3>
        </div>
        <div class="rider_package_radio">
        <div class="option_rider_radio">
          <div class="rider_text_radio">
            <input type="radio" value="base_package" formControlName="rider_package" (click)="onLoadSisCalculation()"/>
          </div>
          <div class="option_rider_one" >
           Base  
          </div> 
        </div>
        <div class="option_rider_radio">
          <div class="rider_text_radio">
            <input type="radio" value="premimum_package" formControlName="rider_package" (click)="onLoadSisCalculation()"/>
          </div>
          <div class="option_rider_one" >
            Premimum
          </div> 
        </div>
      </div>
      <div class="elite_rider_radio">
        <div class="rider_text_radio">
          <input type="radio" value="elite_package" formControlName="rider_package" (click)="onLoadSisCalculation()"/>
        </div>
        <div class="option_rider_one" >
          Elite
        </div> 
      </div>
      </div>
      </div>

      <div class="to_section">
        <span>TO</span>
      </div>
      <div class="receive_section">
        <div class="receive_heading">
          <h3>RECEIVE</h3>
         </div>
         <div class="receive_text">
          <h4>Receive Guaranteed benefit</h4>
         </div>

         <div class="option_radio">
          <div class="receive_guaranteed">
            <input type="radio" value="receive_guaranteed"  formControlName="receive_amount"/>
          </div>
          <div class="option_1_receive_details" >
            <span>{{receiveGuaranteeOnLoad}} *</span>
           <p> {{numberInWords}}</p>
           <p> As guaranteed income of  7,882 at the end of every Annual, for 20 years after policy term (i.e 5 years)</p>
          <p>* Sum of all monthly incomes</p>
          </div> 
        </div>

        <div class="premimum_life_cover">
          <div class="premimum_amount">
          <h3>Premium Amount</h3>
          <h4><fa-icon [icon]="faIndianRupee"></fa-icon>{{premiumAnnualDisplay}}/Annual</h4>
          </div>
          <div class="life_cover">
            <h3>You get a life cover of</h3>
            <h4><fa-icon [icon]="faIndianRupee"></fa-icon>{{premiumAnnualDisplayIntoTen}}</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="back_next">
      <button class="btn btn-primary" (click)="onBack()">Back</button>
      <button class="btn btn-primary"  (click)="onNext()">Next</button>
    </div>
  </form>
    <div class="disclaimer">
      <p>Disclaimer: For complete disclaimers please click here, before concluding the sale.</p>
      <ul class="disclaimer_list">
        <li>Registered with Insurance Regulatory & Development Authority of India (IRDAI) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDAI Regn. No. 110) Issued On: 12th February 2001 Category: Life Insurance</li>
        <li>Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.</li>
        <li>Tata AIA Life Insurance Company Limited (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Limited (AIA). CIN: U66010MH2000PLC128403</li>
        <li>Trade logo displayed above belongs to Tata Sons Ltd and AIA Group Ltd. and is used by Tata AIA Life Insurance Company Ltd under a license.</li>
        <li>For any information including cancellation, claims and complaints, please contact our Insurance Advisor / Intermediary or visit Tata AIA Life’s nearest branch office or call 1-860-266-9966 (local charges apply) or write to us at customercare@tataaia.com. Visit us at: www.tataaia.com or SMS 'Life’ to 58888.</li>
      </ul>
    </div>
  </div>

</div>