*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/login-bg.jpg?v=1676061431207');

}

.register{
  width: 360px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
}

.register h1{
  margin-bottom: 25px;
  font-size: 36px;
  color: #68236f;
  font-weight: bold;
  font-size: 45px;
  line-height: 35px;
}

.register form{
  margin-bottom: 12px;
}


.input-container{
position: relative;
}

.input-container i{
  position:absolute;
  left: 10px;
  top: 32%;
  transform: translateY(-50%);
}

.input-container input {
  padding-left: 50px;
  width: 310px;
  height: 38px;
  margin-bottom: 28px;
  border-radius: 5px;
} 

.register_button{
  margin-bottom: -20px;
  padding: 10px;
  background: #68236f;
  color: #ffff;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
