 <!-- <div class="container">
  <div class="login">
    <h1 class="text-center">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <div class="input-container">
      <i class="fa fa-user"></i>
      <input type="text" placeholder="Username" id="username" formControlName="username">
     </div>

     <div class="input-container">
      <i class="fa fa-lock"></i>
      <input type="password" placeholder="Password" id="password" formControlName="password">
      <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
     </div>

     <button class="login_button" type="submit">Login</button>
    </form> 
  </div>
</div> -->

<!-- Bootstrap form start -->
<div class="new_container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="card">
        <form>
          <div class="mb-3 w-10">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control w-25" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control w-25" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

