 <div class="container">
  <div class="login">
    <h1 class="text-center">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <div class="input-container">
      <i class="fa fa-user"></i>
      <input type="text" placeholder="Username" id="username" formControlName="username">
     </div>

     <div class="input-container">
      <i class="fa fa-lock"></i>
      <input type="password" placeholder="Password" id="password" formControlName="password">
      <!-- <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span> -->
     </div>

     <button class="login_button" type="submit">Login</button>
    </form> 
  </div>
</div>

